<section class="block block-media-2">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure>
          <img src="https://res.cloudinary.com/dljtb0dbc/image/upload/v1529585735/Screen_Shot_2018-06-21_at_2.54.49_PM.png" alt="Image 1">
          <!-- Only render the figcaption only if it's set in FMT -->
          <!-- <figcaption>Some cool content</figcaption> -->
        </figure>        
      </div>
      <div class="column">
        <figure>
          <img src="https://res.cloudinary.com/dljtb0dbc/image/upload/v1529585739/Screen_Shot_2018-06-21_at_2.55.02_PM.png" alt="Image 1">
          <!-- Only render the figcaption only if it's set in FMT -->
          <!-- <figcaption>Some cool content</figcaption> -->
        </figure>        
      </div>
    </div>
  </div>
</section>