<section class="block block-hero-2" style="background-image: url('/img/hero-2-bg.png')">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">uBuild</span><br>design blocks</h1>
        <p>The tool that allows you to build beautiful sites<br>all inside Forestry's content manager.</p>
        <button class="button primary inverted">Download</button>
      </div>
      <div class="column media">
        <img src="/img/product-shot-1.png" alt="Product shot">
      </div>
    </div>
  </div>
</section>