<section class="block block-feature-2">
  <div class="container">
    <div class="columns">
      <div class="column media">
        <img src="https://res.cloudinary.com/dljtb0dbc/image/upload/v1529589720/blocks.png" alt="Product shot">
      </div>
      <div class="column text">
        <h2>Swap & Switch<span class="light"> the Blocks to create sites quickly</span></h2>
        <p>Quickly assemble and create custom sites with 16 design blocks for six different sections.</p>
      </div>  
    </div>
  </div>
</section>