<section class="block block-two-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>Front Matter</h3>
        <p>Blocks use Front Matter and the Forestry UI, which is a powerful combination making those site builder qualities possible.</p>
      </div>
      <div class="column">
        <h3>Preview</h3>
        <p>You can use Forestry to rapidly iterate over different designs and copies. Simply click on preview and see your new design in action.</p>
      </div>           
    </div>
  </div>
</section>