<section class="block block-feature-1">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h2>Customize Blocks<span class="light"> to make quick edits throughout your new site</span></h2>
        <p>Each block comes with custom Front Matter that can easily be edited in Forestry's UI.</p>
      </div>
      <div class="column media">
        <img src="https://res.cloudinary.com/dljtb0dbc/image/upload/v1529600524/edits.gif" alt="Product shot">
      </div>
    </div>      
  </div>
</section>